.game-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.display-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.darwin-text-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
}

/* population container is also the user's game screen */
.population-container {
    display: flex;
    position: relative;

    width: 1000px;
    height: 480px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 25px;
    margin-right: 25px;

    border-style: solid;
    border-color: darkblue;

    color: navy;
}

/* Yeti 2 is closest to top border, 80px
Yeti 16 is closest to bottom, 380px */
.position-1 {
    position: absolute;
    top: 320px;
    right: 180px;
}

.position-2 {
    position: absolute;
    top: 80px;
    right: 250px;
}

.position-3 {
    position: absolute;
    top: 200px;
    right: 125px;
}

.position-4 {
    position: absolute;
    top: 230px;
    left: 110px;
}

.position-5 {
    position: absolute;
    top: 340px;
    left: 375px;
}

.position-6 {
    position: absolute;
    top: 215px;
    left: 500px;
}

.position-7 {
    position: absolute;
    top: 85px;
    left: 180px;
}

.position-8 {
    position: absolute;
    top: 315px;
    left: 265px;
}

.position-9 {
    position: absolute;
    top: 360px;
    left: 150px;
}

.position-10 {
    position: absolute;
    top: 100px;
    left: 455px;
}

.position-11 {
    position: absolute;
    top: 150px;
    left: 590px;
}

.position-12 {
    position: absolute;
    top: 345px;
    left: 850px;
}

.position-13 {
    position: absolute;
    top: 185px;
    left: 280px;
}

.position-14 {
    position: absolute;
    top: 140px;
    left: 70px;
}

.position-15 {
    position: absolute;
    top: 100px;
    right: 70px;
}

.position-16 {
    position: absolute;
    top: 380px;
    right: 325px;
    max-width: 100%;
}

.text-display {
    border-style: solid;
    border-color: lightgray;
    max-width: 600px;
    min-height: 80px;
}

.instructions {
    color: #800020;
}

img {
    max-height: 100px;
}

pre {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: medium;
}
