.hints {
    display: flex;
    justify-content: space-around;

    border-style: solid;
    border-color: navy;
    background-color: lightgray;

    width: 600px;
    height: 400px;
}

.left {
    padding-right: 60px;
}
