.postgame-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 1000px;
    height: 480px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 25px;
    margin-right: 25px;

    border-style: solid;
    border-color: darkblue;

    color: navy;
}

.round-recap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    width: 950px;
}
