.App {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #6699CC;
    color: white;

    max-width: 1024px;
    max-height: 768px;
    width: 80%;
    height: 70%;
    margin: 40px auto;
}
